@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Teko&display=swap');

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html,
body,
#root {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  position: relative;
}

::-webkit-scrollbar {
    display: none;
  }

.loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: black !important;
  right: 0;
  background-color: inherit;
  background-image: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 8s;
  transition-delay: 500ms;
  transition-property: opacity;
  z-index: 9999999999999999999999;
  font-family: "Teko", sans-serif;
}

iframe{
  pointer-events: none;
}

.loadingScreen__board {
  max-width: 900px;
  transition: opacity 0.4s;
}

.loadingScreen--started {
  opacity: 0;
  pointer-events: none;
}

.loadingScreen--started .loadingScreen__board {
  opacity: 0;
}